{% extends "base_client.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block stylesheets %}
    <style>
        .form-group {
            margin-bottom: 0px;
        }
    </style>
{% endblock stylesheets %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ _('Create a new quote') }}</h3>
        </div>
    </div>

    <form method="post" action="{% url 'quote:type' %}">
        {% csrf_token %}
        {{ context.type }}
    <div class="row">
        <div class="col-md-6">
            {{ form|crispy }}
            <input type="submit" name="submit" class="btn btn-primary" value="{{ _('Create') }}">
        </div>
    </div>
    </form>
    
{% endblock content %}
{% block javascripts %}

{% endblock javascripts %}
