{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load countries %}
{% block stylesheets %}
<style>
   .form-group {
   margin-bottom: 0px;
   }
</style>
{% endblock stylesheets %}
{% block content %}
<div class="container">
<div class="row">
   <div class="col-md-12">
      <h3>{{ _('Details on quote') }}</h3>
   </div>
</div>
<!-- Nav tabs --> 
<ul class="nav nav-tabs">
   <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Quote Details</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#agent">Agent</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sectionA">Section A</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sectionB">Section B</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sectionC">Section C</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sectionD">Section D</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sectionE">Section E</a>
   </li> 
</ul>

<!-- Tab panes -->
<div class="tab-content">
   <div class="tab-pane container active" id="home">
      {% load countries %}
      <form method="post" action="{% url 'quote:staff_add_pricing' %}">
          {% csrf_token %}
          <input type="hidden" name="section" value="agent" />
          <input type="hidden" name="quote_app_id" value="{{ request.session.pk }}" />
          <div class="row">
             <div class="col-sm-12 col-md-6">
                <label>Quote Serial Number</label>
                <input type="text" class="form-control" name="quote_serial_number" value="{{ quote_detail.quote_serial_no }}" readonly>
             </div>
             <div class="col-sm-12 col-md-6">
                <label>Quote Type</label>
                <input type="text" class="form-control" name="quote_type" value="Road" readonly>
             </div>
          </div>
          <div class="row">
             <div class="col-md-6 col-sm-12">
                <label>Incoterms</label>
                <input type="text" name="incoterms" value="{{ quote.incoterm }}" class="form-control">
             </div>
             <div class="col-md-6 col-sm-12">
                <label>Other VAS/Document Processing</label>
                <input type="text" name="origin" value="{{ quote.other_vas }}" class="form-control">
             </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Truck Size
              </label>
              <input type="text" name="trucksize" value="{{ quote_detail.Truck_Size }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Cargo collection address
              </label>
              <input type="text" name="address" value="{{ quote_detail.collection_address }}" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Delivery address
              </label>
              <input type="text" name="address2" value="{{ quote_detail.delivery_address }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Incoterm
              </label>
              <input type="text" name="incoterm" value="{{ quote.incoterm}}" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Cargo Weight
              </label>
              <input type="text" name="cargo_w" value="{{ quote_detail.cargo_weight }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Additional Information
              </label>
              <input type="text" name="Additional_Information" value="{{ quote_detail.Additional_Information}}" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Volume CBM
              </label>
              <input type="text" name="Volume_CBM" value="{{ quote_detail.Volume_CBM}}" class="form-control">
            </div>
          </div>      
         <div class="container text-right m-3">
            <input type="submit" class="btn btn-primary sub" value="Next" />
         </div>
      
       </form>
   </div>
</div>
</div>
{% endblock content %}
{% block scripts %}
<script>

</script>
{% endblock  %}