{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load countries %}
{% block stylesheets %}
<style>
   .form-group {
   margin-bottom: 0px;
   }
</style>
{% endblock stylesheets %}
{% block content %}
<div class="container">
<div class="row">
   <div class="col-md-12">
      <h3>{{ _('Details on quote') }}</h3>
   </div>
</div>
<!-- Nav tabs --> 
<ul class="nav nav-tabs">
   <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Quote Details</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#agent">Agent</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sectionA">Section A</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sectionB">Section B</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sectionC">Section C</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sectionD">Section D</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sectionE">Section E</a>
   </li> 
</ul>

<!-- Tab panes -->
<div class="tab-content">
   <div class="tab-pane container active" id="home">
      {% load countries %}
      <form method="post" action="{% url 'quote:staff_add_pricing' %}">
          {% csrf_token %}
          <input type="hidden" name="section" value="agent" />
          <input type="hidden" name="quote_app_id" value="{{ request.session.pk }}" />
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Incoterms
              </label>
              <input type="text" name="incoterms" value="{{ quote.incoterm }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Other VAS/Document Processing
              </label>
              <input type="text" name="origin" value="{{ quote.other_vas }}" class="form-control">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Cargo weight(Tonnes)
              </label>
              <input type="text" name="weight" value="{{ quote_detail.cargo_weight }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Volume (CBM)
              </label>
              <input type="text" name="cargo_len" value="{{ quote_detail.Volume_CBM }}" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Country of Origin
              </label>
              {% get_countries as countries %}
              {% get_country quote.county_origin as country %}
              <input type="text" name="origin" value="{{ quote_detail.Country_of_Origin }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Country of Destination
              </label>
              {% get_countries as countries %}
              {% get_country quote.county_destination as country %}
              <input type="text" name="destination" value="{{ quote_detail.Country_of_Destination }}" class="form-control">
            </div>
            <br>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Collection address
              </label>
              <input type="text" name="address" value="{{ quote_detail.collection_address }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Cargo Description
              </label>
              <input type="text" name="description" value="{{ quote.cargo_description }}" class="form-control">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Nature of Goods
              </label>
              <input type="text" name="goods_category" value="{{ quote.Nature_of_Cargo }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Special Delivery Instructions
              </label>
              <input type="text" name="delivery_date" value="{{ quote.special_delivery }}" class="form-control">
            </div>
          </div>       
          <div class="container text-right m-3">
            <input type="submit" class="btn btn-primary sub" value="Next" />
         </div>
       </form>
   </div>
</div>
</div>
{% endblock content %}
{% block scripts %}
<script>

</script>
{% endblock  %}