{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load countries %}
{% block stylesheets %}
    <style>
        .form-group {
            margin-bottom: 0px;
        }
    </style>
{% endblock stylesheets %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ _('Details on quote') }}</h3>
            </div>
        </div>

<!-- Nav tabs --> 
<ul class="nav nav-tabs">
    <li class="nav-item">
       <a class="nav-link active" data-toggle="tab" href="#home">Quote Details</a>
    </li>
    <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#sectionA">Section A</a>
    </li>
    <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#sectionB">Section B</a>
    </li>
    <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#sectionC">Section C</a>
    </li>
    <li class="nav-item">
       <a class="nav-link" data-toggle="tab" href="#sectionD">Section D</a>
    </li>
 </ul>

 <!-- Tab panes -->
 <div class="tab-content">
    <div class="tab-pane container active" id="home">
           <form method="post" action="{% url 'quote:staff_add_pricing' %}">
            {% csrf_token %}
            <input type="hidden" name="section" value="agent" />
          <input type="hidden" name="quote_app_id" value="{{ request.session.pk }}" />
          
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Quote Serial
              </label>
              <input type="text" name="quote_serial" value="{{ quote_detail.quote_serial_no }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Cargo Weight
              </label>
              <input type="text" name="weight" value="{{ quote_detail.cargo_weight }}" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Cargo Length
              </label>
              <input type="text" name="weight" value="{{ quote_detail.cargo_dimension_length }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Cargo Width
              </label>
              <input type="text" name="cargo_len" value="{{ quote_detail.cargo_dimension_width }}" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Cargo Height
              </label>
              <input type="text" name="origin" value="{{ quote_detail.cargo_dimension_height }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Additional Information
              </label>
              <input type="text" name="destination" value="{{ quote_detail.Additional_Information }}" class="form-control">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Nature of Goods
              </label>
              <input type="text" name="goods_category" value="{{ quote_detail.Nature_of_Cargo }}" class="form-control">
            </div>
            <div class="col-md-6 col-sm-12">
              <label>Volume CBM
              </label>
              <input type="text" name="delivery_date" value="{{ quote_detail.Volume_CBM }}" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label>Cargo Description
              </label>
              <input type="text" name="description" value="{{ quote_detail.cargo_description }}" class="form-control">
            </div>
          </div>
        <div class="container text-right m-3">
            <input type="submit" class="btn btn-primary subA" value="Proceed to A" />
        </div>
        </form>
    </div>
 </div>
 
</div>
{% endblock content %}
{% block scripts %}
<script>

</script>
{% endblock  %}