{% extends "components/base-client.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load countries %}

{% block content %}
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <h3>{{ _('Details on quote') }}
      </h3>
    </div>
  </div>
  <!-- Nav tabs --> 
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link active" data-toggle="tab" href="#home">Quote Details
      </a>
    </li>
    {% if quote_app.status == 'approved_admin' or quote_app.status == 'approved_client' %}
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link" data-toggle="tab" href="#pricing">Quote Pricing
      </a>
    </li>
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link" data-toggle="tab" href="#approval">Quote Approval
      </a>
    </li>
    {% endif %}
  </ul>
  <br>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="home">
      <form method="post" action="">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label>Incoterms
            </label>
            <input type="text" name="incoterms" value="{{ quote.incoterm }}" class="form-control">
          </div>
          <div class="col-md-6 col-sm-12">
            <label>Other VAS/Document Processing
            </label>
            <input type="text" name="origin" value="{{ quote.other_vas }}" class="form-control">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label>Cargo weight(Tonnes)
            </label>
            <input type="text" name="weight" value="{{ quote_detail.cargo_weight }}" class="form-control">
          </div>
          <div class="col-md-6 col-sm-12">
            <label>Volume (CBM)
            </label>
            <input type="text" name="cargo_len" value="{{ quote_detail.Volume_CBM }}" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label>Country of Origin
            </label>
            {% get_countries as countries %}
            {% get_country quote.county_origin as country %}
            <input type="text" name="origin" value="{{ quote_detail.Country_of_Origin }}" class="form-control">
          </div>
          <div class="col-md-6 col-sm-12">
            <label>Country of Destination
            </label>
            {% get_countries as countries %}
            {% get_country quote.county_destination as country %}
            <input type="text" name="destination" value="{{ quote_detail.Country_of_Destination }}" class="form-control">
          </div>
          <br>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label>Collection address
            </label>
            <input type="text" name="address" value="{{ quote_detail.collection_address }}" class="form-control">
          </div>
          <div class="col-md-6 col-sm-12">
            <label>Cargo Description
            </label>
            <input type="text" name="description" value="{{ quote.cargo_description }}" class="form-control">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label>Nature of Goods
            </label>
            <input type="text" name="goods_category" value="{{ quote.Nature_of_Cargo }}" class="form-control">
          </div>
          <div class="col-md-6 col-sm-12">
            <label>Special Delivery Instructions
            </label>
            <input type="text" name="delivery_date" value="{{ quote.special_delivery }}" class="form-control">
          </div>
        </div>
        <br>
      </form>
    </div>
    <div class="tab-pane container" id="pricing">
      <div class="row">
        <div class="col">
          <div>
            <span style="font-size: 1.53rem;">
              Origin Charges
            </span>
            <span>
            {% if client_pricing %}
              <a type="button" href="{% url 'quote:download_pricing' client_pricing.quotation.id %}" class="btn btn-primary" style="position:absolute;right:0;margin-right: 17px;">Download Pricing
              </a>
            {% endif %}
            </span>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th class="wd-15p border-bottom-0">Item
                  </th>
                  <th class="wd-15p border-bottom-0">Pricing
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Origin Haulage
                  </td>
                  <td>{{ client_pricing.selling_origin_haulage }}
                  </td>
                </tr>
                <tr>
                  <td>Customs Documentation
                  </td>
                  <td>{{ client_pricing.selling_customs_documentation }}
                  </td>
                </tr>
                <tr>
                  <td>Terminal Handling
                  </td>
                  <td>{{ client_pricing.selling_origin_terminal_handling }}
                  </td>
                </tr>
                <tr>
                  <td>Airport Charges
                  </td>
                  <td>{{ client_pricing.selling_airport_charges }}
                  </td>
                </tr>
                <tr>
                  <td>Total Charges
                  </td>
                  <td>{{ client_pricing.selling_other_charges_A }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div> 
          <h3>Freight Elements
          </h3>
          <div class="table-responsive">
            <table class="table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th class="wd-15p border-bottom-0">Item
                  </th>
                  <th class="wd-15p border-bottom-0">Pricing
                  </th>                        
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Air Freight
                  </td>
                  <td>{{ client_pricing.selling_freight_cost }}
                  </td>
                </tr>
                <tr>
                  <td>Other Charges
                  </td>
                  <td>{{ client_pricing.selling_other_freight_charges }}
                  </td>
                </tr>
                <tr>
                  <td>Total Charges
                  </td>
                  <td>{{ client_pricing.selling_total_B }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div> 
          <h3>Destination Charges
          </h3>
          <div class="table-responsive">
            <table class="table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th class="wd-15p border-bottom-0">Item
                  </th>
                  <th class="wd-15p border-bottom-0">Pricing
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Terminal Handling
                  </td>
                  <td>{{ client_pricing.selling_terminal_handling }}
                  </td>
                </tr>
                <tr>
                  <td>Agency Fee
                  </td>
                  <td>{{ client_pricing.selling_agency_fee }}
                  </td>
                </tr>
                <tr>
                  <td>Transport Delivery Point
                  </td>
                  <td>{{ client_pricing.selling_transport_delivery }}
                  </td>
                </tr>
                <tr>
                  <td>Other Destination Charges
                  </td>
                  <td>{{ client_pricing.selling_other_destination_charges }}
                  </td>
                </tr>
                <tr>
                  <td>Total C
                  </td>
                  <td>{{ client_pricing.selling_total_C }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h3>Taxes
          </h3>
          <div class="table-responsive">
            <table class="table table-bordered text-nowrap">
              <thead>
                <tr>
                  <th class="wd-15p border-bottom-0">Item
                  </th>
                  <th class="wd-15p border-bottom-0">Amount
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>HS Code
                  </td>
                  <td>{{ client_pricing.hs_code_bp }}
                  </td>
                </tr>
                <tr>
                  <td>FOB code
                  </td>
                  <td>{{ client_pricing.fob_value_bp }}
                  </td>
                </tr>
                <tr>
                  <td>Freight Charges
                  </td>
                  <td>{{ client_pricing.freight_charges_bp }}
                  </td>
                </tr>
                <tr>
                  <td>Insurance
                  </td>
                  <td>{{ client_pricing.insurance_bp }}
                  </td>
                </tr>
                <tr>
                  <td>Customs
                  </td>
                  <td>{{ client_pricing.customs_value_bp }}
                  </td>
                </tr>
                <!-- <tr>
<td>Total Charges</td>
<td>{{ client_pricing.selling_total_D }}</td>
</tr> -->
              </tbody>
            </table>
          </div>
        </div>  
      </div>
    </div>
    <div class="tab-pane" id="approval">
      {% if quote_app.status == 'approved_admin' %}
      <form method="post" action="{% url 'quote:client_approval' %}">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="hidden" name="quote_id" class="form-control" id="quote_id" value="{{ quote_app.id }}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6 form-group">
              <label>Quote Approval
              </label>
              <select class="form-control" name="approval_status">
                <option value="approved_client">Approve Quote Pricing
                </option>
                <option value="rejected_client">Reject Quote Pricing
                </option>
              </select>
              <input type="submit" name="submit" value="Submit" class="btn btn-primary">
            </div>
            </form>
          {% elif quote_app.status == 'approved_client'  %}
          <p class="alert alert-success">
            You have already approved this quote
          </p>
          {% elif quote_app.status == 'rejected_client'  %}
          <p class="alert alert-danger">
            You have already rejected this quote
          </p>
          {% endif %}
        </div> 
        </div>
      </div>
      {% endblock content %}
      {% block scripts %}
      <!-- Internal Data Table js -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
      </script>
      {% endblock scripts %}
