{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="main-content" id="panel">

    
    <div class="pb-6 p-3">
  
    <div class="container">
      <!-- Header -->

    </div>

  <h5>Reference Number of Shipment:<b>{{refno}}</b></h5>
  <div class="row">
    <div class="col-sm-6">
    <form method="POST" action="/fielduser/freightforward/">
      {% csrf_token %}
    <div id="main-container">
      
    
      <div class="container-item">
        <div class="row">
          <div class="col-sm-12">
            <h3>Freight Forwarding</h3>
          <input type="text" name="refno" value="{{ roadfreigh.refno }}" readonly hidden="false"/>
          <!-- <label>Country</label>
          <input type="text" name="country" class="form-control"/> -->

          <label>ETD</label>
          <input type="date" name="etd" class="form-control"/>
          <label>ETA</label>
          <input type="date" name="eta" class="form-control"/>
          <!-- <label>Sailing Status</label>
          <select name="sailingstatus" required class="form-control">
            <option value=""> Click to Select</option>
            <option value="Booking placed"> Booking Placed</option>
            <option value="Booked"> Booked</option>
            <option value="soreleased"> SO Released</option>
            <option value="collected"> Collected</option>
            <option value="deliveredtopol"> Delivered to POL</option>
            <option value="loadedtovessel"> Loaded to Vessel</option>
            <option value="saledintransit"> Sailed / In Transit</option>
            <option value="arrivedpod"> Arrived at POD</option>
            <option value="arrivedicdn"> Arrived at ICDN</option>
            <option value="clearance"> Under Clearance</option>
            <option value="cleared"> Cleared</option>
            <option value="delivered"> Delieverd to Customer</option>
            <option value="hold"> On Hold</option>
          </select> -->
          <label>Sailing Status</label>
          <input type="text" name="sailingstatus" required class="form-control"/>
          <hr>
          <label>Update</label>
          <input type="text" name="update" required class="form-control"/>
          <hr>
          <label>Staff Comments</label>
          <!-- <input type="text" name="country" class="form-control"/> -->
          <textarea class="form-control" name="staffcomments" style="height:140px">
            
           </textarea>
      </div>

      </div>

    </div>
    
    </div>
    <input type="submit" name="submit" value="Update Shipment" class="btn btn-primary mt-4"/>
  
  </form>
</div>
</div>
{%  endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="{% static '/js/cloneData.js' %}"></script>
<script>
$('a#add-more').cloneData({
// container to hold the dulicated form fields
mainContainerId: 'main-container',
// Which you want to clone
cloneContainer: 'container-item',
// CSS lcass of remove button
removeButtonClass: 'remove-item',
removeConfirm: true, 
removeConfirmMessage: 'Are you sure want to delete?'

});
</script>
  
  {% endblock %}