{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheets %}

<style>
    .badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}


.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-review {
    color: #ffffff;
    background-color: #ffc107;
}
</style>
{% endblock stylesheets %}
{% block content %}
<div class="card">
    <div class="card-header">
     Quotation List
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <th>Sno</th>
                <th>Quote No</th>
                <th>Date Requested</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
            {% for q in quotes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ q.quote_number }}</td>
                    <td>{{ q.date }}</td>
                    <td>
                        {% if q.status == "pending" %}
                        <span class="badge badge-primary">{{ q.status }}</span>
                        {% elif q.status == "rejected" %}
                        <span class="badge badge-danger">{{ q.status }}</span>
                        {% elif q.status == "approved_client" %}
                        <span class="badge badge-success">{{ q.status }}</span>
                        {% elif q.status == "review" %}
                        <span class="badge badge-review">Admin Review</span>
                        {% else %}
                        <span class="badge badge-primary">{{ q.status }}</span>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'quotation:staff_quote_detail' q.id %}"><i class="fa fa-pen"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}