{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <!-- <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
    <!-- <div class="container-fluid p-0">
        <div class="alert alert-success alert-dismissible" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      </div> -->
    
        <div class="alert alert-success" role="alert">
            Shipment created successfully, email has been sent to customer.
           
          </div>
     
    {% endfor %}
</ul>
{% endif %}
