

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ _('Details on quote') }}</h3>
            </div>
        </div>

       
            <div class="tab-pane container active" id="pricing">
                <form method="post" action="">
                    {% csrf_token %}

                    <div class="table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>{{ _('Item') }}</th>
                                    <th>{{ _('Buying') }}</th>
                                    <th>{{ _('Selling') }}</th>
                                    <th>{{ _('Margin') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr class="form-group">
                                    <td>1</td>
                                    <td>Origin Haulage</td>
                                    <td><input type="text" name="origin_haulage_bp" class="form-control" required /></td>
                                    <td><input type="text" name="origin_haulage_sp" class="form-control" required /></td>
                                    <td>0.00</td>
                                </tr>

                                <tr class="form-group">
                                    <td>2</td>
                                    <td>Customs Documentation</td>
                                    <td><input type="text" name="customs_bp" class="form-control" required /></td>
                                    <td><input type="text" name="customs_sp" class="form-control" required /></td>
                                    <td>0.00</td>
                                </tr>

                                <tr class="form-group">
                                    <td>3</td>
                                    <td>Terminal Handling Charges</td>
                                    <td><input type="text" name="terminal_bp" class="form-control" required /></td>
                                    <td><input type="text" name="terminal_sp" class="form-control" required /></td>
                                    <td>0.00</td>
                                </tr>

                                <tr class="form-group">
                                    <td>4</td>
                                    <td>Airport Charges</td>
                                    <td><input type="text" name="airport_bp" class="form-control" required /></td>
                                    <td><input type="text" name="airport_sp" class="form-control" required /></td>
                                    <td>0.00</td>
                                </tr>

                                <tr class="form-group">
                                    <td>5</td>
                                    <td>Other Charges</td>
                                    <td><input type="text" name="other_bp" class="form-control"/></td>
                                    <td><input type="text" name="other_sp" class="form-control"/></td>
                                    <td>0.00</td>
                                </tr>

                                
                            </tbody>
                        </table>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
