{% extends 'components/base.html'%}
{% load static %}

    {% block styles %}

    {% endblock %}

        {% block content %}

					<!-- Page Header -->
					<div class="page-header">
						<div>
							<h2 class="main-content-title tx-24 mg-b-5">Navicus 360 Dashboard</h2>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="javascript:void(0);">Navicus</a></li>
								<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
							</ol>
						</div>
						<div class="d-flex">
							<div class="justify-content-center">
								<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
									<i class="fe fe-settings"></i>
									<span>Settings</span>
								</button>
								<button type="button" class="btn btn-primary my-2 btn-icon-text">
									<i class="fe fe-download-cloud bg-white-transparent text-white"></i>
									<span>Reports</span>
								</button>
							</div>
						</div>
					</div>
					<!-- End Page Header -->

					<!--Row-->
					<div class="row row-sm">
						<div class="col-sm-12 col-lg-12 col-xl-12">
					<!--Row-->
					<div class="row row-sm">
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
							<div class="card custom-card">
								<div class="card-body">
									<div class="card-item">
										<div class="card-item-icon card-icon">
											<svg class="text-primary wd-20 ht-20" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M22.5,10h-4.0005493C18.2234497,10.0001831,17.9998169,10.223999,18,10.5v12.0005493C18.0001831,22.7765503,18.223999,23.0001831,18.5,23h4.0006104C22.7765503,22.9998169,23.0001831,22.776001,23,22.5V10.4993896C22.9998169,10.2234497,22.776001,9.9998169,22.5,10z M22,22h-3V11h3V22z M14.5,2h-4.0005493C10.2234497,2.0001831,9.9998169,2.223999,10,2.5v20.0005493C10.0001831,22.7765503,10.223999,23.0001831,10.5,23h4.0006104C14.7765503,22.9998169,15.0001831,22.776001,15,22.5V2.4993896C14.9998169,2.2234497,14.776001,1.9998169,14.5,2z M14,22h-3V3h3V22z M6.5,14H2.4993896C2.2234497,14.0001831,1.9998169,14.223999,2,14.5v8.0005493C2.0001831,22.7765503,2.223999,23.0001831,2.5,23h4.0006104C6.7765503,22.9998169,7.0001831,22.776001,7,22.5v-8.0006104C6.9998169,14.2234497,6.776001,13.9998169,6.5,14z M6,22H3v-7h3V22z"/></svg>
										</div>
										<div class="card-item-title mb-2">
											<label class="main-content-label tx-13 mb-1"> Sea Quotes</label>
										</div>
										<div class="card-item-body">
											<div class="card-item-stat">
												<h4 class="font-weight-normal">{{ quotes_sea }}</h4>
												<!-- <small><b class="badge rounded-pill bg-success fs-11">65%</b><span class="px-1">Higher</span></small> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
							<div class="card custom-card">
								<div class="card-body">
									<div class="card-item">
										<div class="card-item-icon card-icon">
											<svg class="text-primary wd-20 ht-20" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M22.5,10h-4.0005493C18.2234497,10.0001831,17.9998169,10.223999,18,10.5v12.0005493C18.0001831,22.7765503,18.223999,23.0001831,18.5,23h4.0006104C22.7765503,22.9998169,23.0001831,22.776001,23,22.5V10.4993896C22.9998169,10.2234497,22.776001,9.9998169,22.5,10z M22,22h-3V11h3V22z M14.5,2h-4.0005493C10.2234497,2.0001831,9.9998169,2.223999,10,2.5v20.0005493C10.0001831,22.7765503,10.223999,23.0001831,10.5,23h4.0006104C14.7765503,22.9998169,15.0001831,22.776001,15,22.5V2.4993896C14.9998169,2.2234497,14.776001,1.9998169,14.5,2z M14,22h-3V3h3V22z M6.5,14H2.4993896C2.2234497,14.0001831,1.9998169,14.223999,2,14.5v8.0005493C2.0001831,22.7765503,2.223999,23.0001831,2.5,23h4.0006104C6.7765503,22.9998169,7.0001831,22.776001,7,22.5v-8.0006104C6.9998169,14.2234497,6.776001,13.9998169,6.5,14z M6,22H3v-7h3V22z"/></svg>
										</div>
										<div class="card-item-title mb-2">
											<label class="main-content-label tx-13 mb-1"> Air Quotes</label>
										</div>
										<div class="card-item-body">
											<div class="card-item-stat">
												<h4 class="font-weight-normal">{{ quotes_air }}</h4>
												<!-- <small><b class="badge rounded-pill bg-warning fs-11">25%</b><span class="px-1">Increased</span></small> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
							<div class="card custom-card">
								<div class="card-body">
									<div class="card-item">
										<div class="card-item-icon card-icon">
											<svg class="text-primary wd-20 ht-20" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M22.5,10h-4.0005493C18.2234497,10.0001831,17.9998169,10.223999,18,10.5v12.0005493C18.0001831,22.7765503,18.223999,23.0001831,18.5,23h4.0006104C22.7765503,22.9998169,23.0001831,22.776001,23,22.5V10.4993896C22.9998169,10.2234497,22.776001,9.9998169,22.5,10z M22,22h-3V11h3V22z M14.5,2h-4.0005493C10.2234497,2.0001831,9.9998169,2.223999,10,2.5v20.0005493C10.0001831,22.7765503,10.223999,23.0001831,10.5,23h4.0006104C14.7765503,22.9998169,15.0001831,22.776001,15,22.5V2.4993896C14.9998169,2.2234497,14.776001,1.9998169,14.5,2z M14,22h-3V3h3V22z M6.5,14H2.4993896C2.2234497,14.0001831,1.9998169,14.223999,2,14.5v8.0005493C2.0001831,22.7765503,2.223999,23.0001831,2.5,23h4.0006104C6.7765503,22.9998169,7.0001831,22.776001,7,22.5v-8.0006104C6.9998169,14.2234497,6.776001,13.9998169,6.5,14z M6,22H3v-7h3V22z"/></svg>
										</div>
										<div class="card-item-title  mb-2">
											<label class="main-content-label tx-13 mb-1"> Road Quotes</label>
										</div>
										<div class="card-item-body">
											<div class="card-item-stat">
												<h4 class="font-weight-normal">{{ quotes_road }}</h4>
												<!-- <small><b class="badge rounded-pill bg-danger fs-11">15%</b> <span class="px-1">Decreased</span></small> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
							<div class="card custom-card">
								<div class="card-body">
									<div class="card-item">
										<div class="card-item-icon card-icon">
											<svg class="text-primary wd-20 ht-20" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M22.5,10h-4.0005493C18.2234497,10.0001831,17.9998169,10.223999,18,10.5v12.0005493C18.0001831,22.7765503,18.223999,23.0001831,18.5,23h4.0006104C22.7765503,22.9998169,23.0001831,22.776001,23,22.5V10.4993896C22.9998169,10.2234497,22.776001,9.9998169,22.5,10z M22,22h-3V11h3V22z M14.5,2h-4.0005493C10.2234497,2.0001831,9.9998169,2.223999,10,2.5v20.0005493C10.0001831,22.7765503,10.223999,23.0001831,10.5,23h4.0006104C14.7765503,22.9998169,15.0001831,22.776001,15,22.5V2.4993896C14.9998169,2.2234497,14.776001,1.9998169,14.5,2z M14,22h-3V3h3V22z M6.5,14H2.4993896C2.2234497,14.0001831,1.9998169,14.223999,2,14.5v8.0005493C2.0001831,22.7765503,2.223999,23.0001831,2.5,23h4.0006104C6.7765503,22.9998169,7.0001831,22.776001,7,22.5v-8.0006104C6.9998169,14.2234497,6.776001,13.9998169,6.5,14z M6,22H3v-7h3V22z"/></svg>
										</div>
										<div class="card-item-title  mb-2">
											<label class="main-content-label tx-13 mb-1">Warehouse Quotes</label>
										</div>
										<div class="card-item-body">
											<div class="card-item-stat">
												<h4 class="font-weight-normal"> {{ quotes_warehouse }} </h4>
												<!-- <small><b class="badge rounded-pill bg-success fs-11">10%</b><span class="px-1">than last month</span></small> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--End row-->
					<!-- Row -->
					<div class="row row-sm">
						<div class="col-xxl-9 col-xl-9 col-lg-12 col-md-12">
							<div class="card custom-card">
								<div class="card-header border-bottom">
									<h3 class="card-title tx-18"><label class="main-content-label tx-15">SHIPMENTS OVERVIEW</label></h3>
								</div>
								<div class="card-body">
									<div class="chart-wrapper">
										<div id="revenuechart" class=""></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xxl-3 col-xl-3 col-md-12 col-lg-12">
							<div class="card custom-card">
								<div class="card-header border-bottom">
									<h3 class="card-title tx-18"><label class="main-content-label tx-15">SHIPMENTS STATISTICS</label></h3>
									</div>
								<div class="card-body sales-product-info ot-0 pt-0 pb-0">
									<table id="recentorders" class="ht-150"></table>
									<div class="row sales-product-infomation pb-0 mb-0 mx-auto wd-100p mt-3">
										<div class="col-md-6 col justify-content-center text-center">
											<p class="mb-0 d-flex justify-content-center "><span class="legend bg-primary brround"></span>Completed</p>
											<h3 class="mb-4 font-weight-normal">22</h3>
										</div>
										<div class="col-md-6 col text-center float-end">
											<p class="mb-0 d-flex justify-content-center "><span class="legend bg-light brround"></span>In Progress</p>
											<h3 class="mb-4 font-weight-normal">13</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Row -->

					<!-- Row -->
					<div class="row row-sm">
						<div class="col-lg-6 col-md-12">
							<div class="card custom-card overflow-hidden">
								<div class="card-body">
									<div>
										<h6 class="main-content-label mb-1">Line Chart</h6>
										<p class="text-muted  card-sub-title">basic line chart.</p>
									</div>
									<div class="chartjs-wrapper-demo">
										<canvas id="myChartline"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="card custom-card overflow-hidden">
								<div class="card-body">
									<div>
										<h6 class="main-content-label mb-1">Quotes Bar Chart</h6>
										<p class="text-muted  card-sub-title">Below is the bar chart.</p>
									</div>
									<div class="chartjs-wrapper-demo">
										<canvas id="myChartBar"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Row -->
					<!--Row-->
					<div class="row row-sm">
						<div class="col-lg-12">
							<div class="card custom-card">
								<div class="card-header border-bottom">
									<h3 class="card-title tx-18"><label class="main-content-label tx-15">Recent Quotes</label></h3>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered text-nowrap border-bottom mb-0  border" id="recentquotes">
											<thead>
												<tr>
													<th class="wd-lg-10p">Serial No</th>
													<th class="wd-lg-10p">Incoterm</th>
													<th class="wd-lg-10p">Origin</th>
													<th class="wd-lg-10p">Destination</th>
													<th class="wd-lg-10p">Type</th>
													<th class="wd-lg-10p">Date</th>
												</tr>
											</thead>
											<tbody>
												{% if recentquotes %}
												{% for recentquote in recentquotes %}
												<tr>
													<td class="font-weight-normal d-flex">
														<span class="main-img-user">
															<img alt="avatar" class="rounded-circle" src=" {% static 'assets/img/users/1.jpg' %} ">
														</span>
														<span class="mt-2 ms-2">{{ recentquote.quote_serial_no}} </span>
													</td>
													<td class="font-weight-normal">{{ recentquote.incoterm}}</td>
													<td class="text-muted tx-13">{{ recentquote.country_origin}}</td>
													<td class="font-weight-normal">{{ recentquote.country_destination}}</td>
													<td class="font-weight-normal">{{ recentquote.quote_type}}</td>
													<!-- <td class=""><span class="badge rounded-pill text-success bg-success-transparent py-1 px-2">Delivered</span></td> -->
													<td class="text-dark tx-13">{{ recentquote.created_at }}</td>
												</tr>
												{% endfor %}
												{% endif %}									
											</tbody>
										</table>
									</div>
								</div><!-- col end -->
							</div><!-- col end -->
						</div><!-- col end -->
					</div>
					<!-- End Row -->

        {% endblock %}

    {% block scripts %}

	<!-- INTERNAL Data tables js-->
	<script src=" {% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %} "></script>
	<script src=" {% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js' %} "></script>
	<script src=" {% static 'assets/plugins/datatable/dataTables.responsive.min.js' %} "></script>

	<!-- index js-->
	<script src=" {% static 'assets/js/index.js' %} "></script>

	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

	<script>
		var endpoint = '/api';
	
		$.ajax({
		method: "GET",
		url: endpoint,
		success: function(data) {
			drawLineGraph(data, 'myChartline');
			drawBarGraph(data, 'myChartBar');
			drawPieChart(data, 'myPieChart');
			console.log("drawing");
		},
		error: function(error_data) {
			console.log(error_data);
		}
		})
	
	
		function drawLineGraph(data, id) {
		var labels = data.labels;
		var chartLabel = data.chartLabel;
		var chartdata = data.chartdata;
		var ctx = document.getElementById(id).getContext('2d');
		var chart = new Chart(ctx, {
			// The type of chart we want to create
			type: 'line',
	
			// The data for our dataset
			data: {
			labels: labels,
			datasets: [{
				label: chartLabel,
				data: chartdata,
				borderWidth: 2,
				backgroundColor: 'transparent',
				borderColor: '#4d65d9',
				borderWidth: 3,
				pointBackgroundColor: '#ffffff',
				pointRadius: 2
			}]
			},
	
			// Configuration options go here
			options: {
				responsive: true,
			maintainAspectRatio: false,

			scales: {
				xAxes: [{
					ticks: {
						fontColor: "#8492a6",
					 },
					display: true,
					gridLines: {
						color: 'rgba(119, 119, 142, 0.2)'
					}
				}],
				yAxes: [{
					ticks: {
						fontColor: "#8492a6",
					 },
					display: true,
					gridLines: {
						color: 'rgba(119, 119, 142, 0.2)'
					},
					scaleLabel: {
						display: false,
						labelString: 'Thousands',
						fontColor: 'rgba(119, 119, 142, 0.2)'
					}
				}]
			},
			legend: {
				labels: {
					fontColor: "#8492a6"
				},
			},
			
			}
	
		});
		}
		function countItems(data, id) {
			var quotes = data.quotesno;
		}
	  //BarGraph
		function drawBarGraph(data, id) {
		var labels = data.labels;
		var chartLabel = data.chartLabel;
		var chartdata = data.chartdata;
		var ctx = document.getElementById(id).getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
			labels: labels,
			datasets: [{
				label: chartLabel,
				data: chartdata,
				borderWidth: 2,
				backgroundColor: '#4d65d9',
				borderColor: '#4d65d9',
				borderWidth: 2.0,
				pointBackgroundColor: '#ffffff',
			}]
		},
		options: {
			responsive: true,
			maintainAspectRatio: false,
			legend: {
				display: true
			},
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true,
						//stepSize: 150,
						fontColor: "#8492a6",
					},
				gridLines: {
					color: 'rgba(119, 119, 142, 0.2)'
				}
			}],
			xAxes: [{
				ticks: {
					display: true,
					fontColor: "#8492a6",
				},
				gridLines: {
					display: false,
					color: 'rgba(119, 119, 142, 0.2)'
				}
			}]
		},
		legend:  {
				labels: {
					fontColor: "#8492a6"
				},
			},
		}
	});
	}
	  //PieChart
		function drawPieChart(data, id) {
		var labels = data.labels;
		var chartLabel = data.chartLabel;
		var chartdata = data.chartdata;
		var quotespie = {
			labels: data.labels,
			datasets: [{
				data: chartdata,
				backgroundColor: ['#4d65d9', '#53caed', '#01b8ff', '#f16d75']
			}]
		}
		var optionpie = {
			maintainAspectRatio: false,
			responsive: true,
			legend: {
				display: false,
			},
			animation: {
				animateScale: true,
				animateRotate: true
			}
		};
		var ctx = document.getElementById(id).getContext('2d');
		var myChart = new Chart(ctx7, {
			type: 'pie',
			data: quotespie,
			options: optionpie
		});
	}
	</script>
	<!-- Internal Chartjs charts js-->
	<script src=" {% static 'assets/plugins/chartjs/Chart.bundle.min.js' %} "></script>
	<script src=" {% static 'assets/js/chart.chartjs.js' %} "></script>
	
	<script src=" {% static 'assets/plugins/chartjs/Chart.bundle.min.js' %} "></script>

	<!-- Peity js-->
	<script src=" {% static 'assets/plugins/peity/jquery.peity.min.js' %} "></script>

	<!-- Internal Apexchart js-->
	<script src=" {% static 'assets/js/apexcharts.js' %} "></script>

	<!-- Internal Dashboard js-->
	<script src=" {% static 'assets/js/ecommerce-dashboard.js' %} "></script>

	<!-- Internal Jvectormap js-->
	<script src=" {% static 'assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js' %} "></script>
	<script src=" {% static 'assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %} "></script>
	<script src=" {% static 'assets/plugins/jvectormap/gdp-data.js' %} "></script>

    {% endblock %}
