{% extends "base_client.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block stylesheets %}
<style>
#div_id_air_form-owner,#div_id_air_form-staff_owner,#div_id_air_form-status{
    display: none;
}
</style>
{% endblock stylesheets %}


{% block content %}
<div class="card">
    <div class="card-header">
        Request Quotation Form
    </div>
    <div class="card-body">
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        <form method="post" action="" id="quotation-form">
            {% csrf_token %}

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %} 
                    <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {{ wizard.management_form }}
            {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form | crispy }} 

            {% endfor %}
            {% else %}   
             

            <div class="container-fluid main-form">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        {{ form.incoterms | as_crispy_field }}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        {{ form.other_vas | as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        {{ form.incoterms | as_crispy_field }}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        {% comment %}
                        {{ form.container_size | as_crispy_field }}
                        {% endcomment %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        {{ form.other_vas | as_crispy_field }}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        {{ form.cargo_weight | as_crispy_field }}
                    </div>
                </div>

                <fieldset style="border: 1px solid black;padding: 16px;border-radius: 15px;">
                    <p>Cargo Dimensions in CM</p>
                    <div class="row">
                        <div class="col-sm-12 col-lg-4">
                            {{ form.cargo_length | as_crispy_field }}
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            {{ form.cargo_width | as_crispy_field }}
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            {{ form.cargo_height | as_crispy_field }}
                        </div>
                    </div>
                </fieldset>


                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        {{ form.country_origin | as_crispy_field }}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        {{ form.collection_address | as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        {{ form.cargo_description | as_crispy_field }}
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        {{ form.goods_category | as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        {{ form.special_instructions | as_crispy_field }}
                    </div>
            </div>

            {% endif %}

            <div class="container" style="margin-left: 172px">
                {% if wizard.steps.prev %}
               <div class="btnsaction">
                <button name="wizard_goto_step" type="submit" class="page-prev btn btn-default" value="{{ wizard.steps.prev }}" formnovalidate="formnovalidate">{% trans "Previous" %}</button>
                {% endif %} 
                <input type="submit" class="page-next btn btn-primary  sw-btn-next" value="{% trans "Next" %}"/>
                </div>
            </div>
            
        </form>
        
    </div>

</div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>

</script>
{% endblock javascripts %}