{% extends "base_client.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheets %}
<style>
   .form-group{
       width: 50%;
       display: inline;
   }

   .table .thead-dark th{
    color: #fff;
    background-color: #212529;
    border-color: #000000;
   }

   .table{
    border-color: #000000;
   }

   .table .thead-dark th{
    background-color: #173058;
   }

   .alert{
     padding: unset;
   }

   .alert-info{
    background-color: unset;
    background-image: unset;
   }

   

   .btn{
    margin: 8px;
   }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="card">
    <div class="card-header">
     Quotation Pricing
    </div>
    <div class="card-body">
        <!-- {{ quote_pricing|crispy }} -->
        
        
      <div class="alert alert-info">You can <a class="btn btn-success" onclick="accept();">Accept</a> or <a class="btn btn-danger" onclick="reject();">Reject</a> this quote </div>
        <div class="table">
            <table class="table">
                <thead class="thead-light">
                    <th>
                        No
                    </th>
                    <th>
                        Item
                    </th>
                    <th>
                        Price
                    </th>
               </thead>
               <tbody>

                <tr class="sectionA thead-dark">
                    <th><b>A. Origin Charges</b></th>
                    <th></th>
                    <th></th>
                </tr>

                <tr class="sectionA">
                    <td>1</td>
                    <td> Origin haulage</td>
                    <td>{{ quote_pricing.selling_origin_haulage|as_crispy_field }}</td>
                </tr>

                <tr class="sectionA">
                    <td>2</td>
                    <td> Custom Documentation</td>
                    <td>{{ quote_pricing.selling_customs_documentation|as_crispy_field }}</td>
                </tr>

                <tr class="sectionA">
                    <td>3</td>
                    <td> Origin terminal handling</td>
                    <td>{{ quote_pricing.selling_origin_terminal_handling|as_crispy_field }}</td>
                </tr>

                <tr class="sectionA">
                    <td>4</td>
                    <td> Port charges</td>
                    <td>{{ quote_pricing.selling_port_charges|as_crispy_field }}</td>
                </tr>

                <tr class="sectionA">
                    <td>5</td>
                    <td> Other charges</td>
                    <td>{{ quote_pricing.selling_other_charges|as_crispy_field }}</td>
                </tr>

                <tr class="sectionB thead-dark">
                    <th><b>B. Freight Elements</b></th>
                    <th></th>
                    <th></th>
                </tr>

                <tr class="sectionB">
                    <td>1</td>
                    <td> Freight cost</td>
                    <td>{{ quote_pricing.selling_freight_cost|as_crispy_field }}</td>
                </tr>

                <tr class="sectionB">
                    <td>2</td>
                    <td> Other freight charges</td>
                    <td>{{ quote_pricing.selling_other_freight_charges|as_crispy_field }}</td>
                </tr>

                <tr class="sectionB">
                    <td>3</td>
                    <td> Total origin</td>
                    <td>{{ quote_pricing.selling_total_origin|as_crispy_field }}</td>
                </tr>

                <tr class="sectionC thead-dark">
                    <th> <b>C.Destination Charges</b></th>
                    <th></th>
                    <th></th>
                </tr>

                <tr class="sectionC">
                    <td>1</td>
                    <td> Terminal Handling</td>
                    <td>{{ quote_pricing.selling_terminal_handling|as_crispy_field }}</td>
                </tr>

                <tr class="sectionC">
                    <td>2</td>
                    <td> Port charges destination</td>
                    <td>{{ quote_pricing.selling_port_charges_dest|as_crispy_field }}</td>
                </tr>

                <tr class="sectionC">
                    <td>3</td>
                    <td> Agency fee</td>
                    <td>{{ quote_pricing.selling_agency_fee|as_crispy_field }}</td>
                </tr>

                <tr class="sectionC">
                    <td>4</td>
                    <td> Transport delivery</td>
                    <td>{{ quote_pricing.selling_transport_delivery|as_crispy_field }}</td>
                </tr>

                <tr class="sectionC">
                    <td>5</td>
                    <td> Other destination charges</td>
                    <td>{{ quote_pricing.selling_other_destination_charges|as_crispy_field }}</td>
                </tr>

                <tr class="sectionC">
                    <td>6</td>
                    <td> Total destination charges</td>
                    <td>{{ quote_pricing.selling_total_destination|as_crispy_field }}</td>
                </tr>

                <tr class="sectionD thead-dark">
                    <th>
                        <b>Import Duties and Taxes</b>
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                <tr class="sectionD">
                    <td>1</td>
                    <td> HS code </td>
                    <td>{{ quote_pricing.hs_code|as_crispy_field }}</td>
                </tr>

                <tr class="sectionD">
                    <td>2</td>
                    <td> FOB value </td>
                    <td>{{ quote_pricing.fob_value|as_crispy_field }}</td>
                </tr>

                <tr class="sectionD">
                    <td>3</td>
                    <td> Freight charges </td>
                    <td>{{ quote_pricing.freight_charges|as_crispy_field }}</td>
                </tr>

                <tr class="sectionD">
                    <td>4</td>
                    <td> Insurance </td>
                    <td>{{ quote_pricing.insurance|as_crispy_field }}</td>
                </tr>

                <tr class="sectionD">
                    <td>5</td>
                    <td> Customs value </td>
                    <td>{{ quote_pricing.customs_value|as_crispy_field }}</td>
                </tr>

                <tr class="sectionD">
                    <td>6</td>
                    <td> Sub total duties </td>
                    <td>{{ quote_pricing.sub_total_duties|as_crispy_field }}</td>
                </tr>

                <tr class="sectionE thead-dark">
                    <th>Tax</th>
                    <th><b>Tax Rate(%)</b></th>
                    <th>
                        Tax Amount
                    </th>
                </tr>

                <tr class="sectionE">
                    <td>Import duty</td>
                    <td>25%</td>
                    <td>{{ quote_pricing.import_duty|as_crispy_field }}</td>
                </tr>

                <tr class="sectionE">
                    <td>Excise duty</td>
                    <td>10%</td>
                    <td>{{ quote_pricing.excise_duty|as_crispy_field }}</td>
                </tr>

                <tr class="sectionE">
                    <td>VAT</td>
                    <td>16%</td>
                    <td>{{ quote_pricing.vat|as_crispy_field }}</td>
                </tr>

                <tr class="sectionE">
                    <td>Railway levy</td>
                    <td>1.50%</td>
                    <td>{{ quote_pricing.railway_levy|as_crispy_field }}</td>
                </tr>

                <tr class="sectionE">
                    <td>IDF fee</td>
                    <td>3.50%</td>
                    <td>{{ quote_pricing.idf_fee|as_crispy_field }}</td>
                </tr>

                <tr class="sectionE">
                    <td>Levies</td>
                    <td>0%</td>
                    <td>{{ quote_pricing.levies|as_crispy_field }}</td>
                </tr>

                <tr class="sectionE">
                    <td>Sub total taxes</td>
                    <td></td>
                    <td>{{ quote_pricing.sub_total_taxes|as_crispy_field }}</td>
                </tr>

                <tr class="sectionE">
                    <td>Total taxes</td>
                    <td></td>
                    <td>{{ quote_pricing.total_tax|as_crispy_field }}</td>
                </tr>

                <tr class="sectionF">
                    <td><h5>Grand Total:</td>
                    <td></td>
                    <td><h4>{{ quote_pricing.grand_total|as_crispy_field }}</h4></td>
                </tr>

               </tbody>
            </table>
        </div>

    </div>

</div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
    var incoterms = "{{ quote_incoterms|safe }}";
    var forminputs = document.getElementsByClassName("numberinput");
    
    for(let i = 0 ; i < forminputs.length; i++){
        forminputs[i].setAttribute("readonly", "true");
    }
</script>

<script src="{% static 'js/client_hide.js' %}"></script>
<script>
    
    //incoterms
    var incoterms = "{{ quote_incoterms|safe }}";
    
    if(incoterms == "EX WORKS"){

    }
    else if(incoterms == "FOB"){
        hide_section_A();
    }
    else if(incoterms == "CRF"){
        hide_section_A();
        hide_section_B();
    }
    else if(incoterms == "DAP"){
        hide_section_D();
        hide_section_E();
    }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>

    function accept(){
        //quote id
        var qid = "{{ quote_id|safe }}";
        let data ={
            status:"approved_client",
            id:qid,
        }
        console.log(data);

        //send data to models
        $.ajax({
            type:"GET",
            url:"{% url 'quotation:client_decision' %}",
            // contentType: "application/json",
            // dataType: "json",
            data: data,
            headers: {
                // "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
            },

            success:function(response){
                    swal({
                    title: "Accepted!",
                    text: "Quote accepted, you will receive further instruction soon",
                    icon: "success",
                    button: "Ok",
                    });
            } 
        });
    }

    function reject(){

        //quote id
        var qid = "{{ quote_id|safe }}";
        let data ={
            status:"rejected",
            id:qid,
        }
        console.log(data);

        //send data to models
        $.ajax({
            type:"GET",
            url:"{% url 'quotation:client_decision' %}",
            
            data: data,
            headers: {
                // "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
            },

            success:function(response){
                swal({
                    title: "Are you sure, you want to reject?",
                    // text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    })
                    .then((willDelete) => {
                    if (willDelete) {
                        swal("Quote rejected", {
                        icon: "success",
                        });
                    } else {
                        // swal("Your imaginary file is safe!");
                    }
                    });
            } 
        });
    }
    
//set csrf_token manually
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    const cookies = document.cookie.split(";");
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + "=")) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
</script>
{% endblock javascripts %}